@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body,html{
    overflow-x: hidden;
}

/* Classes Auxiliares */
b {
    font-weight: bold;
    color: #509d87;
}

.clear {
    clear: both;
}

.container {
    max-width: 960px;
    padding: 0 2%;
    margin: 0 auto;
}

/* ESTILOS SITE */

/* SESSÃO 1 */
/* NAV MOBILE */
nav.mobile {
    display: none;
}/* DISPLAY NONE */


nav.mobile {
    float: right;
    position: relative;
    top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

nav.mobile h3 {
    color: white;
    font-size: 22px;
}
ul.nav-desktop {
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    background: #6cc5b2;
    list-style-type: none;
    display: none;
}

ul.nav-desktop li {
    border-bottom: 1px solid white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

ul.nav-desktop a {
    text-decoration: none;
    color: white;
}



/*  */


section.header-master {
    width: 100%;
    padding: 30px 0;
    min-height: 700px;
    background-image: url(/projeto_09/images/bg_01.png);
    background-size: cover;
}

section.header-master header {
    border-bottom: 3px solid rgba(71, 83, 88, 0.14);
    padding-bottom: 20px;
}

div.logo {
    float: left;
    width: 166px;
    height: 64px;
    background-image: url(/projeto_09/images/logo.png);
    background-size: 100% 100%;
}

header nav.desktop {
    float: left;
    padding-left: 60px;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop li {
    padding: 0 15px;
    display: inline-block;
    font-size: 16px;
    color: white;
}

header nav.desktop li > a {
    color: inherit;
    text-decoration: none;
}

header nav.desktop li.selected {
    color: #509d87;
    position: relative;
}

header nav.desktop li.selected > span {
    position: absolute;
    bottom: 0;
    width: 17px;
    height: 3px;
    background: #509d87;
}

div.telefone-header {
    float: left;
    position: relative;
    top: -3px;
}

div.telefone-header span {
    font-size: 22px;
    color: white;
    padding-left: 30px;
}

/* PART - 2  */
.content-header {
    padding: 60px 0;
}

.content-header .one {
    float: left;
    width: 52%;
}

.content-header .one h2 {
    color: #509d87;
    font-weight: normal;
    font-size: 35px;
}

.content-header p {
    padding: 10px 0;
}

.content-header .one form input {
    display: inline-block;
}

.content-header .one form input[type="email"] {
    width: 251px;
    height: 60px;
    margin: 10px 0;
    border-radius: 100px;
    background-color: #ffffff;
    border: solid 3px #a9c4b8;
    text-align: center;
    font-size: 15px;
}

.content-header .one form input[type="email"]:focus {
    outline: none;
}

.content-header .one form input[type="submit"] {
    margin: 10px 0;
    background-color: #00daaa;
    color: white;
    cursor: pointer;
    border: 0;
    padding: 20px 40px;
    border-radius: 40px;
}

.content-header .one span {
    color: #509d87;
    font-size: 13px;
    margin-top: 30px;
    display: block;
}

.content-header .two {
    float: left;
    width: 48%;
    padding: 0 30px;
}

.content-header .two img {
    float: left;
    width: 48%;
    border: 10px solid rgba(0, 0, 0, 0);
}

/* DIFERENCIAIS */
section.diferenciais {
    padding: 40px 0;
    z-index: 2;
}

section.diferenciais > .container {
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single {
    width: 33.3%;
    margin-bottom: 15px;
}

.diferencial-single img {
    max-width: 100%;
}

.diferencial-single h2 {
    margin: 15px 0;
    font-size: 25px;
    color: #7dd5b0;
}

.diferencial-single p {
    color: #2d2d2d;
}

/* * */

/* SOBRE */
.sobre > .container {
    max-width: 1440px;
}

.sobre-container {
    float: left;
    width: 50%;
}

.sobre-container img {
    max-width: 100%;
}

.sobre-container h2 {
    font-size: 33px;
    margin: 10px 0;
    font-weight: normal;
    color: #a9c4b8;
}

.sobre-container > h2 > b {
    color: #7dd5b0;
}

.sobre-container p {
    color: black;
    font-size: 15px;
}

.padsobre {
    padding: 10px 50px;
}

/* DEPOIMENTOS */
section.depoimento {
    z-index: 1;
    position: relative;
    top: -110px;
    text-align: center;
    color: #2d2d2d;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 300px;
    background-image: url(/projeto_09/images/round_images/bg_02.png);
    background-size: cover;
}

section.depoimento h2 {
    font-weight: normal;
    font-size: 25px;
}

section.depoimento p {
    font-size: 15px;
}

/* * */
/* ETAPAS */
section.etapas {
    padding: 40px 0;
}

section.etapas > .container {
    max-width: 1200px;
}

section.etapas h2 {
    color: #2d2d2d;
    text-align: center;
}

.etapas__single {
    float: left;
    width: 50%;
}

.etapas__group img {
    max-width: 100%;
    float: left;
}

.etapas__group p {
    float: left;
    padding-top: 90px;
    padding-left: 0;
    color: #509d87;
}

.etapas__group02 .circle {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 50px;
}

.circle span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.etapas__descricao {
    float: left;
    width: calc(100% - 100px);
    padding: 0 20px;
}

.etapas__descricao h3 {
    color: #03ca9f;
    font-size: 18px;
}

.etapas__descricao p {
    color: #2d2d2d;
    font-weight: bold;
    font-size: 14px;
}

.line {
    z-index: 9999;
    position: absolute;
    top: 100px;
    height: 50px;
    width: 1px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #ccc;
}

/* * */
/* DIFERENÇAS */

/* parte dos itens 1 */
section.diferencas {
    padding-bottom: 50px 0;
}

section.diferencas > .container {
    max-width: 800px;
    text-align: center;
}

.diferencas__single {
    float: left;
    width: 50%;
}

.diferencas__single h2,
.item-diferencas1 span {
    color: #a9c4b8;
}

.diferencas__single h2 {
    font-size: 30px;
    font-weight: normal;
}

.item-diferencas1 {
    display: inline-block;
    margin-top: 10px;
    position: relative;
}

.line-diferencas1 {
    position: absolute;
    left: 0;
    top: 13px;
    width: 100%;
    height: 3px;
    background: #e89595;
    transform: rotate(-2deg);
    z-index: 999;
}

.item-diferencas1 span {
    font-weight: bold;
    font-size: 21px;
}

/* parte dos item 2 */

.item-diferencas2 {
    margin-top: 10px;
}

.item-diferencas2 span {
    color: #7dd5b0;
    font-weight: bold;
    font-size: 21px;
}

/* * */

/* FORMULÁRIO */
.centralizar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

section.contato .image {
    position: absolute;
    width: auto;
    height: 100%;
    z-index: -1; /* coloca a imagem atrás do conteúdo */
}

section.contato {
    width: 100%;
    height: 530px;
    position: relative; /* para o controle do z index */
    position: absolute;
    z-index: 10; /* mantém a seção de contato acima da imagem */
    padding: 40px 0;
}

section.contato h2 {
    text-align: center;
    color: #509d87;
    font-size: 24px;
}

section.contato > .container {
    text-align: center;
    max-width: 600px;
}

section.contato input[type="text"],
section.contato input[type="email"],
section.contato input[type="tel"] {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-bottom: 3px;
}

section.contato .form-group {
    margin-top: 10px;
}

section.contato textarea {
    width: 100%;
    height: 120px;
    border-radius: 60px;
    border: 1px solid #ccc;
    padding: 25px;
    resize: none;
}

section.contato input[type="submit"] {
    width: 170px;
    height: 60px;
    border-radius: 100px;
    background-color: #0ed2a7;
    border: none;
    color: white;
}

section.contato p {
    margin: 10px 0;
    color: #2d2d2d;
    padding: 1px 0;
    font-size: 14px;
}

section.contato .l {
    border-bottom: 1px solid #509d87;
}

/* * */

/* FOOTER */
footer {
    padding: 20px 0;
    background: #6cc5b2;
    text-align: center;
}

footer p {
    margin-left: 20px;
    text-align: justify;
    font-size: 12px;
    color: #2d2d2d;
}

/* * */
